@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.btnBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  margin: 0 0 35px 50px;
}

.btnBox2 {
  display: flex;
  margin: 0 50px 35px 0;
}

.box,
.commentBox {
  display: flex;
}

.title,
.title2 {
  width: calc(100% - 90%);
  font-size: 1.8rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-right: 10px;
  font-weight: 600;
}

.content,
.content2 {
  width: calc(100% - 10%);
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-left: 10px;
}

.title2,
.content2 {
  min-height: 150px;
}

.commentBox {
  margin: 30px 10px 20px 10px;
  justify-content: space-around;
  align-items: center;
}

.commentTitle {
  margin: 0 20px;
  font-size: 1.5rem;
  font-weight: 600;
}

.comment {
  font-family: "Pretendard-Regular";
  margin-left: 10px;
  width: calc(100% - 20%);
  min-height: 100px;
  resize: none;
  font-size: 1.8rem;
  border: 1px solid #888888;
  border-radius: 5px;
  padding: 10px 20px;
}

.btn2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.loading {
  font-family: "Pretendard-Regular";
  font-size: 1.4rem;
  padding: 10px 0 0 20px;
  color: #636363;
}

.commentDiv {
  font-family: "Pretendard-Regular";
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 10px 10px 10px 50px;
}

.commentArticle {
  display: flex;
  align-items: center;
}

.commentImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgb(198, 198, 198);
  background-image: url("../../components/common/header/img/ppiyong.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
}

.cContent {
  padding-left: 30px;
  color: #000;
  min-height: 90px;
  display: flex;
  align-items: center;
}

.cCreatedDate {
  font-size: 1rem;
  padding-left: 30px;
  color: rgb(105, 105, 105);
}

.commentBtn1 {
  border: 1px solid rgb(203, 203, 203);
  background-color: #fff;
  width: 45px;
  height: 30px;
  margin: 0 5px;
  font-size: 0.8rem;
  box-shadow: 2px 2px 2px rgb(212, 212, 212);
  color: gray;
}

.commentBtn1:hover {
  cursor: pointer;
  color: #000;
}
