.MainSection{
    border: 1px solid black;
    width: 92vw;
    text-align: center;
}

.MainSearchSection{
    padding: 0;
    float: right;
    text-align: center;
}

.MainSearch{
    height: 20px;
    padding: 0;
    text-align: right;
}

.MainSearchOption{
    padding: 0;
    height: 24px;
}

.MainSearchButton{
    height: 42px;
}

.Section{
    border: 1px solid black;
}

.buttonStyle{
    width: 128px;
}