@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.header {
  font-family: "Pretendard-Regular";
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 20px;
  background-color: #f5f3fc;
  font-size: 1.5rem;
  font-weight: 600;
  min-height: 50px;
}

.header2 {
  font-family: "Pretendard-Regular";
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 20px;
  background-color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
}

.number {
  width: calc(100% - 95%);
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subject {
  width: calc(100% - 30%);
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleHover:hover {
  color: #007cba;
}

.writer {
  width: calc(100% - 88%);
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createdAt {
  width: calc(100% - 90%);
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hits {
  width: calc(100% - 93%);
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hr {
  height: 4px;
  width: calc(100% - 3%);
  background-color: #202143;
  border: 0;
  margin: auto;
}

.title {
  margin: 50px 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchBox {
  display: flex;
}

.searchInput {
  border-radius: 5px;
  border: 3px solid #007cba;
  margin-right: -10px;
  padding: 10px;
  font-size: 1rem;
}

.searchInput:focus {
  outline: none;
  border: 3px solid #007cba;
}

.glassBtn {
  display: none;
}

.glassBtn:hover {
  cursor: pointer;
}

.glassBtn:active {
  background-color: #014364;
  transition: 0.2s;
}

@media screen and (max-width: 568px) {
  .searchBox {
    display: none;
  }

  .glassBtn {
    display: block;

    width: 46px;
    height: 46px;
    border: 0;
    border-radius: 5px;
    background-color: #007cba;

    font-size: 20px;
    font-weight: 400;
    color: #fff;
    letter-spacing: -1px;
  }

  .glassBtn:hover {
    cursor: pointer;
  }

  .glassBtn:active {
    background-color: #014364;
    transition: 0.2s;
  }

  .active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }

  .searchInput {
    width: 90%;
    height: 20px;
  }

  .title {
    display: flex;
    align-items: flex-start;
  }
}

@media screen and (min-width: 569px) {
  .active {
    display: flex;
  }
}

.gumsek {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 75px;
  height: 46px;
  border: 0;
  border-radius: 5px;
  background-color: #007cba;

  font-size: 20px;
  font-weight: 400;
  color: #fff;
  letter-spacing: -1px;
}

.gumsek:hover {
  cursor: pointer;
}

.gumsek:active {
  background-color: #014364;
  transition: 0.2s;
}
