@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.main {
  margin: 3rem 2rem;
  padding: 1rem;

  background-color: rgba(33, 34, 67, 0.3);
  border-radius: 10px;
  box-shadow: 2px 2px 15px rgb(190, 190, 190);

  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 600px;
}

.body {
  border: 0;
  min-height: 500px;
  width: 54%;
}

.vod {
  display: block;
  /* min-height: 500px; */
  width: 640px;
  height: 480px;
}

.table {
  width: 44%;
  min-height: 500px;

  border-radius: 5px;
  padding: 3px;

  font-family: "Pretendard-Regular";
  font-size: 1.3rem;
}

@media screen and (max-width: 875px) {
  .main {
    flex-direction: column;
  }

  .body {
    width: 100%;
  }

  .table {
    width: 100%;
  }
}
