/* 글꼴 */
@font-face {
  font-family: "ONE-Mobile-POP";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dovemayo_gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* 슬라이드 박스 */
.body {
  background-color: #435b6c;
  min-width: 100%;
  /* height: 100%; */
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "ONE-Mobile-POP";
}

.item {
  position: relative;
  margin: 50px 0;
  width: calc(100% - 10%);
  min-height: 300px;
  background: #fff;
  text-align: center;
  color: #2b3b46;
  font-size: 2.5em;
  border-radius: 30px;
}

/* item Box 1 */
.h1 {
  margin-top: 60px;
  font-family: "SBAggroB";
  font-size: 3rem;
  text-transform: capitalize;
}

.p1 {
  font-family: "ONE-Mobile-POP";
  font-weight: 100;
}

/* 아래 화살표 */
.arrow {
  color: #f5f5ff;
  font-size: 2rem;
  margin: 50px 0;
}

/* item Box2 - 제목 */
.h2 {
  color: #2b3b46;
  font-weight: 200;
  font-size: 3.3rem;
  margin: 60px 0;
}

/* item Box2 - 설명+이미지 */
.robotBox {
  margin: 60px 0 0 0;
  text-align: center;
  color: #000;
  font-size: 2.5em;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.omoInfo1 {
  font-family: "Dovemayo_gothic";
  font-size: 2rem;
  text-align: end;
  padding: 0 50px;
  width: 50%;
}

.omo {
  padding-right: 50px;
  width: 516px;
  height: 339px;
}

/* 도둑 애니메이션 */
.robotBox2 {
  display: flex;
  align-items: center;
  margin: 60px;
}

.scan {
  padding-left: 80px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 350px;
}

.thief {
  position: relative;
  width: 350px;
  height: 350px;
  background: url("./thief2.png");
  background-size: 350px;
  background-repeat: no-repeat;
}

.scan .thief::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./thief.png");
  background-size: 350px;
  background-repeat: no-repeat;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
}

.scan .thief::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #f96666;
  border-radius: 8px;
  filter: drop-shadow(0 0 10px #f96666) drop-shadow(0 0 80px #f96666);
  animation: animate_line 4s ease-in-out infinite;
}

@keyframes animate_line {
  0%,
  100% {
    top: 0%;
  }
  50% {
    top: 100%;
  }
}

/* item Box2 - 설명 */
.omoInfo2 {
  text-align: center;
  color: #000;
  border-radius: 30px;

  font-family: "Dovemayo_gothic";
  font-size: 2rem;
  text-align: start;
  padding: 0 50px;

  width: 100%;
}

/* 홈페이지 설명 */
.pageBox {
  margin: 60px;
  text-align: center;
  color: #000;
  font-size: 2.5em;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pageInfo {
  width: 45%;
}

.pageImg {
  width: 55%;
}

.step {
  margin: 0 30px 0 0;
  font-size: 2.2rem;
  font-weight: 200;
  text-align: end;
}

.stepInfo {
  font-family: "Dovemayo_gothic";
  font-size: 1.8rem;
  font-weight: 200;
  text-align: end;

  margin: 20px 30px 0 0;
}

.step2 {
  margin: 0 0 0 30px;
  font-size: 2.2rem;
  font-weight: 200;
  text-align: start;
}

.stepInfo2 {
  font-family: "Dovemayo_gothic";
  font-size: 1.8rem;
  font-weight: 200;
  text-align: start;

  margin: 20px 0 0 30px;
}

.go,
.go2 {
  padding: 5px 10px;
  background-color: #007cba;
  border-radius: 8px;
  color: #fff;
  font-size: 1.2rem;
}

.go2 {
  background-color: #f96666;
}

.last {
  font-size: 2rem;
}

.item2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 50px 0;
  width: calc(100% - 10%);
  min-height: 300px;
  background: #fff;
  color: #2b3b46;
  font-size: 2.5em;
  border-radius: 30px;
}

.topBtnWrap {
  position: fixed;
  bottom: 20px;
  margin-bottom: 10px;
  right: 20px;
}

.topBtn {
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 10px;
  color: #fff;
}

.topBtn:hover {
  cursor: pointer;
}
