.TableTitleSection{
    text-align: center;
    border: 1px solid black;
    margin: auto;
    padding: 0;

}

.TableIDSection{
    text-align: center;
    border: 1px solid black;
    margin: auto;
    padding: 0;
    font-size: 32px;
}

.TableSection{
    text-align: center;
    border: 1px solid black;
    margin: auto;
    padding: 0;
    font-size: 24px;
}

.Table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}