.LineSection{
    /* margin-top: 200px; */
    margin-top: 30px;

}

.PatrolSection{  
    margin-bottom: 18px;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-bottom: 20px;
    margin-left: 2.5vh;
   margin-right: 2.5vh;
   border: 4px solid #cbcbcb;
   height: 90vh;

}

.TitleSection{
    font-size: 48px;
    color: black;
    text-align: center;
    font-weight: 800;
}

.AdminSection{
    font-size: 24px;
}

.TableTitleSection{
    text-align: center;
    border: 1px solid black;
    margin: auto;
    padding: 0;
}